<div class="colouring-list">
    <div class="item-col">
        <div class="item-box color1 hidden">
            <span class="category">Coloriages</span>
            <a href="" class="item" data-src="uploads/colouring1.jpg">
                <img src="uploads/colouring1.jpg" alt="" />
            </a>
            <div class="title-box">
                <div class="max-w">
                    <span class="title">Afrique</span>
                    <a href="" title="Download" class="download"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="item-col">
        <div class="item-box color2 hidden">
            <span class="category">Coloriages</span>
            <a href="" class="item" data-src="uploads/colouring1.jpg">
                <img src="uploads/colouring1.jpg" alt="" />
            </a>
            <div class="title-box">
                <div class="max-w">
                    <span class="title">Amérique</span>
                    <a href="" title="Download" class="download"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="item-col">
        <div class="item-box color2 hidden">
            <span class="category">Coloriages</span>
            <a href="" class="item" data-src="uploads/colouring1.jpg">
                <img src="uploads/colouring1.jpg" alt="" />
            </a>
            <div class="title-box">
                <div class="max-w">
                    <span class="title">Amérique du sud</span>
                    <a href="" title="Download" class="download"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="item-col">
        <div class="item-box color3 hidden">
            <span class="category">Coloriages</span>
            <a href="" class="item" data-src="uploads/colouring1.jpg">
                <img src="uploads/colouring1.jpg" alt="" />
            </a>
            <div class="title-box">
                <div class="max-w">
                    <span class="title">Asie</span>
                    <a href="" title="Download" class="download"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="item-col">
        <div class="item-box hidden">
            <span class="category">Coloriages</span>
            <a href="" class="item" data-src="uploads/colouring1.jpg">
                <img src="uploads/colouring1.jpg" alt="" />
            </a>
            <div class="title-box">
                <div class="max-w">
                    <span class="title">Asie</span>
                    <a href="" title="Download" class="download"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="item-col">
        <div class="item-box hidden">
            <span class="category">Coloriages</span>
            <a href="" class="item" data-src="uploads/colouring1.jpg">
                <img src="uploads/colouring1.jpg" alt="" />
            </a>
            <div class="title-box">
                <div class="max-w">
                    <span class="title">Asie</span>
                    <a href="" title="Download" class="download"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="item-col">
        <div class="item-box color4 hidden">
            <span class="category">Coloriages</span>
            <a href="" class="item" data-src="uploads/colouring1.jpg">
                <img src="uploads/colouring1.jpg" alt="" />
            </a>
            <div class="title-box">
                <div class="max-w">
                    <span class="title">Asie</span>
                    <a href="" title="Download" class="download"></a>
                </div>
            </div>
        </div>
    </div>
</div>