<ul class="articles-list">
    <li class="hidden">
        <div class="img">
            <time datetime="2016-05-11" class="time">11 juillet, <span>2016</span></time>
            <img src="uploads/news-img.jpg" alt="" />
        </div>
        <div class="in-brief">
            <h3>
                <a href="news-inner.html">Lorem ipsum dolor sit amet, consectetuer adipiscing. Aenean commodo ligula eget dolor. Aenean massa.</a>
            </h3>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.</p>
            <p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, </p>
            <a href="news-inner.html" class="read-more">Lire la suite</a>
        </div>
    </li>
    <li class="hidden">
        <div class="img">
            <time datetime="2016-05-11" class="time">11 juillet, <span>2016</span></time>
            <img src="uploads/news-img2.jpg" alt="" />
        </div>
        <div class="in-brief">
            <h3>
                <a href="news-inner.html">Lorem ipsum dolor sit amet, consectetuer adipiscing. Aenean commodo ligula eget dolor. Aenean massa.</a>
            </h3>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.</p>
            <p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, </p>
            <a href="news-inner.html" class="read-more">Lire la suite</a>
        </div>
    </li>
    <li class="hidden">
        <div class="img">
            <time datetime="2016-05-11" class="time">11 juillet, <span>2016</span></time>
            <img src="uploads/news-img3.jpg" alt="" />
        </div>
        <div class="in-brief">
            <h3>
                <a href="news-inner.html">Lorem ipsum dolor sit amet, consectetuer adipiscing. Aenean commodo ligula eget dolor. Aenean massa.</a>
            </h3>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.</p>
            <p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, </p>
            <a href="news-inner.html" class="read-more">Lire la suite</a>
        </div>
    </li>
    <li class="hidden">
        <div class="img">
            <time datetime="2016-05-11" class="time">11 juillet, <span>2016</span></time>
            <img src="uploads/news-img4.jpg" alt="" />
        </div>
        <div class="in-brief">
            <h3>
                <a href="news-inner.html">Lorem ipsum dolor sit amet, consectetuer adipiscing. Aenean commodo ligula eget dolor. Aenean massa.</a>
            </h3>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.</p>
            <p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, </p>
            <a href="news-inner.html" class="read-more">Lire la suite</a>
        </div>
    </li>
    <li class="hidden">
        <div class="img">
            <time datetime="2016-05-11" class="time">11 juillet, <span>2016</span></time>
            <img src="uploads/news-img.jpg" alt="" />
        </div>
        <div class="in-brief">
            <h3>
                <a href="news-inner.html">Lorem ipsum dolor sit amet, consectetuer adipiscing. Aenean commodo ligula eget dolor. Aenean massa.</a>
            </h3>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.</p>
            <p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, </p>
            <a href="news-inner.html" class="read-more">Lire la suite</a>
        </div>
    </li>
    <li class="hidden">
        <div class="img">
            <time datetime="2016-05-11" class="time">11 juillet, <span>2016</span></time>
            <img src="uploads/news-img2.jpg" alt="" />
        </div>
        <div class="in-brief">
            <h3>
                <a href="news-inner.html">Lorem ipsum dolor sit amet, consectetuer adipiscing. Aenean commodo ligula eget dolor. Aenean massa.</a>
            </h3>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.</p>
            <p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, </p>
            <a href="news-inner.html" class="read-more">Lire la suite</a>
        </div>
    </li>
    <li class="hidden">
        <div class="img">
            <time datetime="2016-05-11" class="time">11 juillet, <span>2016</span></time>
            <img src="uploads/news-img3.jpg" alt="" />
        </div>
        <div class="in-brief">
            <h3>
                <a href="news-inner.html">Lorem ipsum dolor sit amet, consectetuer adipiscing. Aenean commodo ligula eget dolor. Aenean massa.</a>
            </h3>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.</p>
            <p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, </p>
            <a href="news-inner.html" class="read-more">Lire la suite</a>
        </div>
    </li>
    <li class="hidden">
        <div class="img">
            <time datetime="2016-05-11" class="time">11 juillet, <span>2016</span></time>
            <img src="uploads/news-img4.jpg" alt="" />
        </div>
        <div class="in-brief">
            <h3>
                <a href="news-inner.html">Lorem ipsum dolor sit amet, consectetuer adipiscing. Aenean commodo ligula eget dolor. Aenean massa.</a>
            </h3>
            <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.</p>
            <p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, </p>
            <a href="news-inner.html" class="read-more">Lire la suite</a>
        </div>
    </li>
</ul>
<a href="pages/more-news2.html" class="more-news">LOAD MORE</a>