<div class="recipes-list">
    <div class="item hidden">
        <div class="img responsimg" data-responsimg10="uploads/recipe-img.jpg"></div>
        <div class="text">
            <h3>Sed do eiusmod tempor incididunt ut</h3>
            <a href="recipe-inner.html" class="special">
                <span>Voir la recette</span>
            </a>
        </div>
    </div>
    <div class="item hidden">
        <div class="img responsimg" data-responsimg10="uploads/recipe-img.jpg"></div>
        <div class="text">
            <h3>Sed do eiusmod tempor incididunt ut</h3>
            <a href="recipe-inner.html" class="special">
                <span>Voir la recette</span>
            </a>
        </div>
    </div>
    <div class="item hidden">
        <div class="img responsimg" data-responsimg10="uploads/recipe-img.jpg"></div>
        <div class="text">
            <h3>Sed do eiusmod tempor incididunt ut</h3>
            <a href="recipe-inner.html" class="special">
                <span>Voir la recette</span>
            </a>
        </div>
    </div>
    <div class="item hidden">
        <div class="img responsimg" data-responsimg10="uploads/recipe-img.jpg"></div>
        <div class="text">
            <h3>Sed do eiusmod tempor incididunt ut</h3>
            <a href="recipe-inner.html" class="special">
                <span>Voir la recette</span>
            </a>
        </div>
    </div>
    <div class="item hidden">
        <div class="img responsimg" data-responsimg10="uploads/recipe-img.jpg"></div>
        <div class="text">
            <h3>Sed do eiusmod tempor incididunt ut</h3>
            <a href="recipe-inner.html" class="special">
                <span>Voir la recette</span>
            </a>
        </div>
    </div>
    <div class="item hidden">
        <div class="img responsimg" data-responsimg10="uploads/recipe-img.jpg"></div>
        <div class="text">
            <h3>Sed do eiusmod tempor incididunt ut</h3>
            <a href="recipe-inner.html" class="special">
                <span>Voir la recette</span>
            </a>
        </div>
    </div>
</div>